<style>

.book {
  height: 150px;
  width: 40px;
  float: left;
  color: white;
  font-size: 0.8em;
  font-family: Verdana, sans-serif;
  margin-bottom: 10px;
  margin-top: 20px;
  transition: transform 0.4s ease;
}

.book-tilted {
  float: left;
  width: 74px;
}

.book-tilted > .book {
  transform: translateY(-3px) translateX(15px) rotate(9deg) ;
}

.book:hover {
  transform: scale(1.05);
}
.book-pink {
    background-color: #f5cac3; 
    border-left: 2px solid lighten(#f5cac3)
    border-right: 2px solid darken(#f5cac3)
    color:#137ea7;
}

.book-green {
  background-color: #84a59d;
  border-left: 2px solid lighten(#84a59d, 4%);
  border-right: 2px solid darken(#84a59d, 4%);
  color: white !important;
}

.book-orange {
  background-color: #f6bd60;
  border-left: 2px solid lighten(#f6bd60, 4%);
  border-right: 2px solid darken(#f6bd60, 4%);
  color:white;
}

.book-tan {
  background-color: tan;
  border-left: 2px solid lighten(tan, 4%);
  border-right: 2px solid darken(tan, 4%);
  color:#137ea7 !important;
}

.book-blue {
  background-color: #137ea7;
  border-left: 2px solid lighten(#137ea7, 4%);
  border-right: 2px solid darken(#137ea7, 4%);
  color:white
}

a {
  color: white;
}
.book h2 {
  padding: 0;
  font-size: .8em;
  transform-origin: 0% 0%;
  transform: rotate(0.25turn) translateY(-30px) translateX(5px);
  width: 170px;
}

.book h3 {
  padding: 0;
  font-size: 0.7em;
  transform-origin: 0 0;
  transform: rotate(0.25turn) translateY(-15px) translateX(-20px);
  width: 150px;
}
</style>  
    <div class="card mb-3"></div>
        <div class="card-body">
        <h5>Bookshelf</h5>

        <div class="book book-orange">
        <h2><a href="/items/art001">Los Andes Ecuatorianos</a></h2>
        </div><div class="book book-pink">
        <h2><a href="/items/art002">Pawqarkuna</a></h2>
        </div><div class="book book-green">
        <h2><a href="/items/art003">Ana De Orbegoso</a></h2>
        </div><div class="book book-orange">
        <h2><a href="/items/art004">Warisata en Imágenes</a></h2>
        </div><div class="book book-orange">
        <h2><a href="/items/art005">Carrying Coca</a></h2>
        </div><div class="book book-blue">
        <h2><a href="/items/lang001">Quechua:</h2><h3>Conocimientos Básicos</h3></a>
        </div><div class="book book-orange">
        <h2><a href="/items/lang002">Manual Para el Aprendizaje</a></h2>
        </div><div class="book book-tan">
        <h2><a href="/items/lang003">Inkakunaq Rimayninta</a></h2>
        </div><div class="book book-blue">
        <h2><a href="/items/lang004">Eurotalk: Quechua</a></h2>
        </div><div class="book-tilted"><div class="book book-orange">
        <h2><a href="/items/lang005">Ñukanchik Llaktapa Shimi</a></h2>
        </div></div><div class="book book-blue">
        <h2><a href="/items/lang006">Qhesqa Simi</a></h2>
        </div><div class="book book-green">
        <h2><a href="/items/lang007">Runa Siminchik 2</a></h2>
        </div><div class="book book-pink">
        <h2><a href="/items/lang008">Runa Siminchik 1</a></h2>
        </div><div class="book book-orange">
        <h2><a href="/items/lang009">Diospa Simin Qelqa</a></h2>
        </div><div class="book book-green">
        <h2><a href="/items/lang010">Napo Runa Shimi</a></h2>
        </div><div class="book book-blue">
        <h2><a href="/items/lang011">Gramática Quechua</a></h2>
        </div><div class="book book-pink">
        <h2><a href="/items/dic001">Simi Taqe Qheswa</a></h2>
        </div><div class="book book-tan">
        <h2><a href="/items/dic002">Vocabulario de la</a></h2>
        </div><div class="book book-tan">
        <h2><a href="/items/dic003">Quechua-English-Spanish</a></h2>
        </div><div class="book book-green">
        <h2><a href="/items/dic004">Diccionario Quechua</a></h2>
        </div><div class="book book-blue">
        <h2><a href="/items/dic005">Diccionario Quechua</a></h2>
        </div><div class="book book-blue">
        <h2><a href="/items/dic006">Iskay Simipi</a></h2>
        </div><div class="book book-blue">
        <h2><a href="/items/as001">The Kingdom of Quito</a></h2>
        </div><div class="book-tilted"><div class="book book-green">
        <h2><a href="/items/as002">Bolivia</a></h2><h3>Refounding the Nation</h3>
        </div></div><div class="book book-blue">
        <h2><a href="/items/as003">Our House in the Clouds</a></h2>
        </div><div class="book book-tan">
        <h2><a href="/items/as004">Esquinas, Rincones, Pasadizos</a></h2>
        </div><div class="book book-green">
        <h2><a href="/items/as005">Bi-Centenarios Naturales</a></h2>
        </div><div class="book book-pink">
        <h2><a href="/items/as006">La Ley del Ayllu</a></h2>
        </div><div class="book book-orange">
        <h2>Harry Potter</h2>
        </div><div class="book book-blue">
        <h2>Introducing HTML5</h2>
        </div><div class="book book-orange">
        <h2>CSS For Dummies</h2>
        </div><div class="book book-green">
        <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
        </div><div class="book book-green">
        <h2>Harry Potter</h2>
        </div><div class="book book-green">
        <h2>Introducing HTML5</h2>
        </div><div class="book book-pink">
        <h2>CSS For Dummies</h2>
        </div><div class="book book-green">
        <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
        </div><div class="book book-tan">
        <h2>Harry Potter</h2>
        </div><div class="book book-green">
        <h2>Introducing HTML5</h2>
        </div><div class="book book-tan">
        <h2>CSS For Dummies</h2>
        </div><div class="book book-orange">
        <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
        </div><div class="book book-green">
        <h2>Harry Potter</h2>
        </div><div class="book book-pink">
        <h2>Introducing HTML5</h2>
        </div><div class="book book-orange">
        <h2>CSS For Dummies</h2>
        </div><div class="book book-blue">
        <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
        </div><div class="book book-tan">
        <h2>Harry Potter</h2>
        </div><div class="book book-pink">
        <h2>Introducing HTML5</h2>
        </div><div class="book book-tan">
        <h2>CSS For Dummies</h2>
        </div><div class="book book-green">
        <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
        </div><div class="book book-orange">
        <h2>Harry Potter</h2>
        </div><div class="book book-green">
        <h2>Introducing HTML5</h2>
        </div><div class="book book-green">
        <h2>CSS For Dummies</h2>
        </div><div class="book book-orange">
        <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
        </div><div class="book book-pink">
        <h2>Harry Potter</h2>
        </div><div class="book book-tan">
        <h2>Introducing HTML5</h2>
        </div><div class="book book-blue">
        <h2>CSS For Dummies</h2>
        </div><div class="book book-blue">
        <h2>Actionscript:</h2><h3>The Definitive Guide</h3>
        </div>
    </div>